@font-face { font-family: 'Y_font1'; src: url('../font/yoonBlackFit44.otf'); }
@font-face { font-family: 'Y_font2'; src: url('../font/yoonBlackFit55.otf'); }
@font-face { font-family: 'Y_font3'; src: url('../font/yoonBlackFit66.otf'); }
@font-face { font-family: 'Y_font4'; src: url('../font/yoonBlackFit77.otf'); }
@font-face { font-family: 'N_font_bold'; src: url('../font/NanumGothicCoding-Bold.ttf'); }
@font-face { font-family: 'N_font_regular'; src: url('../font/NanumGothicCoding-Regular.ttf'); }
@font-face { font-family: 'J_font'; src: url('../font/JejuGothicOTF.otf'); }
@font-face { font-family: 'B_font '; src: url('../font/BMDOHYEON.otf'); }
